{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9aaebd;">
    <span class="navbar-brand mb-0 h1">Administrador</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="#">Opcion 1</a>
        <a class="nav-link" href="#">Opcion 2</a>
        <a class="nav-link mr-4" href="#">Opcion 3</a>
        <a class="nav-link text-primary" href="{{path('app_logout')}}"><span class="bi bi-box-arrow-right mr-1"></span>Cerrar sesión</a>
      </div>
    </div>
  </nav>
  <h1>Bienvenido, Administrador </h1>
{% endblock %}
